.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container form {
  display: flex;
  flex-direction: column;
}

.container form button {
  margin-top: 10px;
}